### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [149]:
# Dependencies and Setup
import pandas as pd
import numpy as np
import os

# File to Load (Remember to Change These)
school_data = "schools_complete.csv"
student_data = "students_complete.csv"

# Read School and Student Data File and store into Pandas DataFrames
school_df = pd.read_csv(school_data)
student_df = pd.read_csv(student_data)

# Combine the data into a single dataset.  
merged_df = pd.merge(school_df, student_df, how="left", on=["school_name"])
merged_df.head()

,School ID,school_name,type,size,budget,Student ID,student_name,gender,grade,reading_score,math_score
0,0,Huang High School,District,2917,1910635,0,Paul Bradley,M,9th,66,79
1,0,Huang High School,District,2917,1910635,1,Victor Smith,M,12th,94,61
2,0,Huang High School,District,2917,1910635,2,Kevin Rodriguez,M,12th,90,60
3,0,Huang High School,District,2917,1910635,3,Dr. Richard Scott,M,12th,67,58
4,0,Huang High School,District,2917,1910635,4,Bonnie Ray,F,9th,97,84

## District Summary

* Calculate the total number of schools

* Calculate the total number of students

* Calculate the total budget

* Calculate the average math score 

* Calculate the average reading score

* Calculate the percentage of students with a passing math score (70 or greater)

* Calculate the percentage of students with a passing reading score (70 or greater)

* Calculate the percentage of students who passed math **and** reading (% Overall Passing)

* Create a dataframe to hold the above results

* Optional: give the displayed data cleaner formatting

In [150]:
# Calculate the total number of schools
total_schools=len(merged_df["school_name"].unique())
total_schools

15

In [151]:
# Calculate the total number of students
total_students=len(merged_df["Student ID"].unique())
total_students

39170

In [152]:
# calculate the total budget
merged_df["budget"].unique()
school_budgets = np.array([1910635, 1884411, 1056600, 3022020,  917500, 1319574, 1081356,
       3124928,  248087,  585858, 1049400, 2547363, 3094650, 1763916, 1043130])
total_budget = np.sum(school_budgets)
total_budget

24649428

In [153]:
# calculate the average math score
math_avg = merged_df["math_score"].mean()
math_avg

78.98537145774827

In [154]:
# reading
reading_avg = merged_df["reading_score"].mean()
reading_avg

81.87784018381414

In [155]:
# Calculate the percentage of students with a passing math score (70 or greater)
math_pass = merged_df.loc[merged_df["math_score"] >= 70].count()["Student ID"]
math_percent = ((math_pass/total_students)*100)
math_percent

74.9808526933878

In [156]:
# Calculate the percentage of students with a passing reading score (70 or greater)
reading_pass = merged_df.loc[merged_df["reading_score"] >= 70].count()["Student ID"]
reading_percent = ((reading_pass/total_students)*100)
reading_percent

85.80546336482001

In [157]:
pass_rate = ((math_percent+reading_percent)/2)
pass_rate

80.39315802910392

In [158]:
# Create table and dataframe
summary_table = {'Total Schools': [total_schools], 
                'Total Students': [total_students], 
                'Total Budget': [total_budget],
                'Average Math Grade': [math_avg],
                'Average Reading Grade': [reading_avg],
                'Math Passing Rate': [math_percent],
                'Reading Passing Rate': [reading_percent],
                'Overall Passing Rate': [pass_rate]}

grades_summary = pd.DataFrame(summary_table)
grades_summary = grades_summary[["Total Schools", "Total Students", "Total Budget",
                                     "Average Math Grade", "Average Reading Grade", "Math Passing Rate",
                                     "Reading Passing Rate", "Overall Passing Rate"]]
grades_summary.style.format({"Total Students": "{:,.0f}", 
                             "Total Budget": "${:,.0f}", 
                             "Average Math Grade": "{:.2f}", 
                             "Average Reading Grade": "{:.2f}",
                            "Math Passing Rate": "{:.2f}" +"%",
                            "Reading Passing Rate": "{:.2f}" +"%",
                            "Overall Passing Rate": "{:.2f}" +"%"})

## School Summary

In [159]:
# groupby each school
each_school = merged_df.set_index('school_name').groupby(['school_name'])

In [160]:
# get each school type
school_type = school_df.set_index(["school_name"])["type"]

In [170]:
# get students per school
students_school = each_school["Student ID"].count()
students_school

school_name
Bailey High School       4976
Cabrera High School      1858
Figueroa High School     2949
Ford High School         2739
Griffin High School      1468
Hernandez High School    4635
Holden High School        427
Huang High School        2917
Johnson High School      4761
Pena High School          962
Rodriguez High School    3999
Shelton High School      1761
Thomas High School       1635
Wilson High School       2283
Wright High School       1800
Name: Student ID, dtype: int64

In [171]:
# get budget per school
budget_school = school_df.set_index("school_name")["budget"]
budget_school

school_name
Huang High School        1910635
Figueroa High School     1884411
Shelton High School      1056600
Hernandez High School    3022020
Griffin High School       917500
Wilson High School       1319574
Cabrera High School      1081356
Bailey High School       3124928
Holden High School        248087
Pena High School          585858
Wright High School       1049400
Rodriguez High School    2547363
Johnson High School      3094650
Ford High School         1763916
Thomas High School       1043130
Name: budget, dtype: int64

In [172]:
# calculate budget per student by school
budget_student = school_df.set_index("school_name")["budget"]/school_df.set_index("school_name")["size"]
budget_student

school_name
Huang High School        655.0
Figueroa High School     639.0
Shelton High School      600.0
Hernandez High School    652.0
Griffin High School      625.0
Wilson High School       578.0
Cabrera High School      582.0
Bailey High School       628.0
Holden High School       581.0
Pena High School         609.0
Wright High School       583.0
Rodriguez High School    637.0
Johnson High School      650.0
Ford High School         644.0
Thomas High School       638.0
dtype: float64

In [173]:
# calculate average math score by school
school_math_avg = round(merged_df.groupby(["school_name"]).mean()["math_score"],2)
school_math_avg

school_name
Bailey High School       77.05
Cabrera High School      83.06
Figueroa High School     76.71
Ford High School         77.10
Griffin High School      83.35
Hernandez High School    77.29
Holden High School       83.80
Huang High School        76.63
Johnson High School      77.07
Pena High School         83.84
Rodriguez High School    76.84
Shelton High School      83.36
Thomas High School       83.42
Wilson High School       83.27
Wright High School       83.68
Name: math_score, dtype: float64

In [174]:
# calculate average reading score by school
school_reading_avg = round(merged_df.groupby(["school_name"]).mean()["reading_score"],2)
school_reading_avg

school_name
Bailey High School       81.03
Cabrera High School      83.98
Figueroa High School     81.16
Ford High School         80.75
Griffin High School      83.82
Hernandez High School    80.93
Holden High School       83.81
Huang High School        81.18
Johnson High School      80.97
Pena High School         84.04
Rodriguez High School    80.74
Shelton High School      83.73
Thomas High School       83.85
Wilson High School       83.99
Wright High School       83.96
Name: reading_score, dtype: float64

In [197]:
# get percent of students passing math by school
math_pass = merged_df[merged_df["math_score"] >= 70].groupby("school_name")["Student ID"].count()/students_school*100
students_math_pass = round((math_pass),2)
students_math_pass

school_name
Bailey High School       66.68
Cabrera High School      94.13
Figueroa High School     65.99
Ford High School         68.31
Griffin High School      93.39
Hernandez High School    66.75
Holden High School       92.51
Huang High School        65.68
Johnson High School      66.06
Pena High School         94.59
Rodriguez High School    66.37
Shelton High School      93.87
Thomas High School       93.27
Wilson High School       93.87
Wright High School       93.33
Name: Student ID, dtype: float64

In [198]:
# get percent of students passing reading by school
read_pass = merged_df[merged_df["reading_score"] >= 70].groupby("school_name")["Student ID"].count()/students_school*100
students_read_pass = round((read_pass),2)
students_read_pass

school_name
Bailey High School       81.93
Cabrera High School      97.04
Figueroa High School     80.74
Ford High School         79.30
Griffin High School      97.14
Hernandez High School    80.86
Holden High School       96.25
Huang High School        81.32
Johnson High School      81.22
Pena High School         95.95
Rodriguez High School    80.22
Shelton High School      95.85
Thomas High School       97.31
Wilson High School       96.54
Wright High School       96.61
Name: Student ID, dtype: float64

In [199]:
# find percent of students passing math and reading by school
mr_pass = merged_df[(merged_df["math_score"] >= 70) & (merged_df["reading_score"] >= 70)].groupby("school_name")["Student ID"].count()/students_school*100
both_pass = round((mr_pass),2)
both_pass

school_name
Bailey High School       54.64
Cabrera High School      91.33
Figueroa High School     53.20
Ford High School         54.29
Griffin High School      90.60
Hernandez High School    53.53
Holden High School       89.23
Huang High School        53.51
Johnson High School      53.54
Pena High School         90.54
Rodriguez High School    52.99
Shelton High School      89.89
Thomas High School       90.95
Wilson High School       90.58
Wright High School       90.33
Name: Student ID, dtype: float64

In [200]:
# create a dataframe with the above results
school_summary = pd.DataFrame({"School Type": schools_type, 
                 "Total Students": students_school, 
                  "Total School Budget": budget_school, 
                  "Budget Per Student": budget_student, 
                  "Average Math Grade": school_math_avg, 
                  "Average Reading Grade": school_reading_avg, 
                  "Math Passing Rate": students_math_pass, 
                  "Reading Passing Rate": students_read_pass, 
                  "Overall Passing Rate": both_pass})
school_summary = school_summary[["School Type", 
                 "Total Students", 
                "Total School Budget", 
                "Budget Per Student", 
                 "Average Math Grade", 
                  "Average Reading Grade", 
                  "Math Passing Rate", 
                  "Reading Passing Rate", 
                  "Overall Passing Rate"]]

In [212]:
school_summary.head()

,School Type,Total Students,Total School Budget,Budget Per Student,Average Math Grade,Average Reading Grade,Math Passing Rate,Reading Passing Rate,Overall Passing Rate
Bailey High School,District,4976,3124928,628.0,77.05,81.03,66.68,81.93,54.64
Cabrera High School,Charter,1858,1081356,582.0,83.06,83.98,94.13,97.04,91.33
Figueroa High School,District,2949,1884411,639.0,76.71,81.16,65.99,80.74,53.20
Ford High School,District,2739,1763916,644.0,77.10,80.75,68.31,79.30,54.29
Griffin High School,Charter,1468,917500,625.0,83.35,83.82,93.39,97.14,90.60

* Create an overview table that summarizes key metrics about each school, including:
  * School Name
  * School Type
  * Total Students
  * Total School Budget
  * Per Student Budget
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * % Overall Passing (The percentage of students that passed math **and** reading.)
  
* Create a dataframe to hold the above results

## Top Performing Schools (By % Overall Passing)

* Sort and display the top five performing schools by % overall passing.

In [215]:
# Sort by Overall Passing Rate
school_summary = school_summary.sort_values("Overall Passing Rate", ascending=False)
school_summary.head()

,School Type,Total Students,Total School Budget,Budget Per Student,Average Math Grade,Average Reading Grade,Math Passing Rate,Reading Passing Rate,Overall Passing Rate
Cabrera High School,Charter,1858,1081356,582.0,83.06,83.98,94.13,97.04,91.33
Thomas High School,Charter,1635,1043130,638.0,83.42,83.85,93.27,97.31,90.95
Griffin High School,Charter,1468,917500,625.0,83.35,83.82,93.39,97.14,90.60
Wilson High School,Charter,2283,1319574,578.0,83.27,83.99,93.87,96.54,90.58
Pena High School,Charter,962,585858,609.0,83.84,84.04,94.59,95.95,90.54

## Bottom Performing Schools (By % Overall Passing)

* Sort and display the five worst-performing schools by % overall passing.

In [237]:
school_summary = school_summary.sort_values("Overall Passing Rate")
school_summary.head()

,School Type,Total Students,Total School Budget,Budget Per Student,Average Math Grade,Average Reading Grade,Math Passing Rate,Reading Passing Rate,Overall Passing Rate
Rodriguez High School,District,3999,2547363,637.0,76.84,80.74,66.37,80.22,52.99
Figueroa High School,District,2949,1884411,639.0,76.71,81.16,65.99,80.74,53.20
Huang High School,District,2917,1910635,655.0,76.63,81.18,65.68,81.32,53.51
Hernandez High School,District,4635,3022020,652.0,77.29,80.93,66.75,80.86,53.53
Johnson High School,District,4761,3094650,650.0,77.07,80.97,66.06,81.22,53.54

## Math Scores by Grade

* Create a table that lists the average Reading Score for students of each grade level (9th, 10th, 11th, 12th) at each school.

  * Create a pandas series for each grade. Hint: use a conditional statement.
  
  * Group each series by school
  
  * Combine the series into a dataframe
  
  * Optional: give the displayed data cleaner formatting

In [231]:
# find the math averages by grade, by school
frmath = merged_df[merged_df["grade"] == "9th"].groupby("school_name")["math_score"].mean()
somath = merged_df[merged_df["grade"] == "10th"].groupby("school_name")["math_score"].mean()
jrmath = merged_df[merged_df["grade"] == "11th"].groupby("school_name")["math_score"].mean()
srmath = merged_df[merged_df["grade"] == "12th"].groupby("school_name")["math_score"].mean()

frmath2 = round((frmath),2)
somath2 = round((somath),2)
jrmath2 = round((jrmath),2)
srmath2 = round((srmath),2)

# make a dataframe
math_by_grade = pd.DataFrame({"Fr": frmath2, "So": somath2, "Jr": jrmath2, "Sr": srmath2})
math_by_grade.index.name = " "

math_by_grade

                          Fr     So     Jr     Sr

Bailey High School     77.08  77.00  77.52  76.49
Cabrera High School    83.09  83.15  82.77  83.28
Figueroa High School   76.40  76.54  76.88  77.15
Ford High School       77.36  77.67  76.92  76.18
Griffin High School    82.04  84.23  83.84  83.36
Hernandez High School  77.44  77.34  77.14  77.19
Holden High School     83.79  83.43  85.00  82.86
Huang High School      77.03  75.91  76.45  77.23
Johnson High School    77.19  76.69  77.49  76.86
Pena High School       83.63  83.37  84.33  84.12
Rodriguez High School  76.86  76.61  76.40  77.69
Shelton High School    83.42  82.92  83.38  83.78
Thomas High School     83.59  83.09  83.50  83.50
Wilson High School     83.09  83.72  83.20  83.04
Wright High School     83.26  84.01  83.84  83.64

## Reading Score by Grade

* Perform the same operations as above for reading scores

In [232]:
frread = merged_df[merged_df["grade"] == "9th"].groupby("school_name")["reading_score"].mean()
soread = merged_df[merged_df["grade"] == "10th"].groupby("school_name")["reading_score"].mean()
jrread = merged_df[merged_df["grade"] == "11th"].groupby("school_name")["reading_score"].mean()
srread = merged_df[merged_df["grade"] == "12th"].groupby("school_name")["reading_score"].mean()

frread2 = round((frread),2)
soread2 = round((soread),2)
jrread2 = round((jrread),2)
srread2 = round((srread),2)

# make a dataframe
read_by_grade = pd.DataFrame({"Fr": frread2, "So": soread2, "Jr": jrread2, "Sr": srread2})
read_by_grade.index.name = " "

read_by_grade

                          Fr     So     Jr     Sr

Bailey High School     81.30  80.91  80.95  80.91
Cabrera High School    83.68  84.25  83.79  84.29
Figueroa High School   81.20  81.41  80.64  81.38
Ford High School       80.63  81.26  80.40  80.66
Griffin High School    83.37  83.71  84.29  84.01
Hernandez High School  80.87  80.66  81.40  80.86
Holden High School     83.68  83.32  83.82  84.70
Huang High School      81.29  81.51  81.42  80.31
Johnson High School    81.26  80.77  80.62  81.23
Pena High School       83.81  83.61  84.34  84.59
Rodriguez High School  80.99  80.63  80.86  80.38
Shelton High School    84.12  83.44  84.37  82.78
Thomas High School     83.73  84.25  83.59  83.83
Wilson High School     83.94  84.02  83.76  84.32
Wright High School     83.83  83.81  84.16  84.07

## Scores by School Spending

* Create a table that breaks down school performances based on average Spending Ranges (Per Student). Use 4 reasonable bins to group school spending. Include in the table each of the following:
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * Overall Passing Rate (Average of the above two)

In [239]:
# create bins and group names
bins = [0, 584, 629, 644, 675]
group_names = ["$0-$584", "$585-$629", "$630-$644", "$645-$675"]

# add the columns
grades_spending = school_summary[["Average Math Grade", "Average Reading Grade", "Math Passing Rate", 
                                    "Reading Passing Rate", 
                                    "Overall Passing Rate"]].groupby(pd.cut(school_summary["Budget Per Student"], bins=bins, labels=group_names)).mean()

grades_spending.head()

,Average Math Grade,Average Reading Grade,Math Passing Rate,Reading Passing Rate,Overall Passing Rate
Budget Per Student,,,,,
$0-$584,83.452500,83.935000,93.460000,96.610000,90.367500
$585-$629,81.900000,83.155000,87.132500,92.717500,81.417500
$630-$644,78.517500,81.625000,73.485000,84.392500,62.857500
$645-$675,76.996667,81.026667,66.163333,81.133333,53.526667

## Scores by School Size

In [240]:
# create bins and group names
bins = [0, 1000, 2000, 5000]
group_names = ["Small <1000", "Medium 1000-2000", "Large 2000+"]
# add the columns
grades_size = school_summary[["Average Math Grade", 
                              "Average Reading Grade", 
                              "Math Passing Rate", 
                            "Reading Passing Rate", 
                            "Overall Passing Rate"]].groupby(pd.cut(school_summary["Total Students"], bins=bins, labels=group_names)).mean()
grades_size.head()

,Average Math Grade,Average Reading Grade,Math Passing Rate,Reading Passing Rate,Overall Passing Rate
Total Students,,,,,
Small <1000,83.820,83.92500,93.55000,96.10000,89.885
Medium 1000-2000,83.374,83.86800,93.59800,96.79000,90.620
Large 2000+,77.745,81.34375,69.96375,82.76625,58.285

* Perform the same operations as above, based on school size.

## Scores by School Type

* Perform the same operations as above, based on school type

In [244]:
# get Charter = 1 and District = 2
bin_type["School Type"] = school_summary["School Type"].replace({"Charter": 1, "District": 2})

# create bins and group names
bins = [0, 1, 2]
group_names = ["Charter", "District"]

# add the columns
grades_type = school_summary[["Average Math Grade", 
                              "Average Reading Grade", 
                              "Math Passing Rate", 
                            "Reading Passing Rate", 
                            "Overall Passing Rate"]].groupby(pd.cut(bin_type["School Type"], bins=bins, labels=group_names)).mean()
grades_type.head()

,Average Math Grade,Average Reading Grade,Math Passing Rate,Reading Passing Rate,Overall Passing Rate
School Type,,,,,
Charter,83.472500,83.897500,93.620000,96.586250,90.431250
District,76.955714,80.965714,66.548571,80.798571,53.671429